.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	display: center;

	.input-container {
		margin-top: 4rem;
		position: relative;
		width: 60%;

		@media screen and (max-width: 500px) {
			width: 85%;
		}
	
		.suffix {
			position: absolute;
			top: 1px;
			right: 0;
			background-color: var(--color-primary);
			color: #fff;
			border-radius: 20px;
			padding: 8px;
			cursor: pointer;
		}
	}

	.form-field {
		width: calc(100% - 4.3rem) !important;
	}
	
	.upgrade {
		margin-top: 3rem;
		font-size: 1.3rem;
		text-align: center;
	}
}