<div class="container">
	<h2 class="heading">Missigs</h2>

	<div class="forgot-password">
		<h2 class="heading-secondary">New Password</h2>

		<form class="form" [formGroup]="theForm">
			<div class="section">
				<input class="form-field mb-4" type="password" placeholder="Password" formControlName="password">
		
				<input class="form-field mb-3" type="password" placeholder="Confirm Password" formControlName="confirmPassword">

				<div class="btn-save-container">
					<button mat-raised-button>Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
