<header class="header">
	<div class="heading" routerLink="/">missigs</div>
	
	<nav class="nav">
		<ng-container [ngTemplateOutlet]="links"></ng-container>
	</nav>

	<nav class="nav-mob" [class.visible]="isOpen">
		<ng-container [ngTemplateOutlet]="links"></ng-container>
	</nav>

	<mat-icon class="menu-icon" (click)="onToggleMenu()">menu</mat-icon>
</header>

<ng-template #links>
	<ul>
		<li routerLink="home" (click)="goto('home', 'howItWorks')">How it works</li>
		<li routerLink="pricing" (click)="goto('home', 'pricing')">Pricing</li>
		<li routerLink="signup" class="rounded" (click)="goto('signup')">Signup</li>
		<li routerLink="login" (click)="goto('login')">login</li>
	</ul>
</ng-template>