.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7.4rem 0;
    height: calc(100% - 223px);

	.signup {
		padding: 3.5rem 6rem;
		box-shadow: 0px 0px 6px #ede7e7;
		width: 20%;
		border-radius: 1rem;

		@media screen and (max-width: 1280px) {
			width: 30%;
		}

		@media screen and (max-width: 960px) {
			width: 40%;
		}

		@media screen and (max-width: 750px) {
			width: 50%;
		}

		@media screen and (max-width: 600px) {
			width: 60%;
			padding: 3rem 4rem;
		}

		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.section {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.btn-save-container {
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					background-color: var(--color-primary);
					color: #fff;
					margin-top: 2rem;
					border-radius: 100px;
					min-width: 20rem;
				}
			}

			.account {
				display: flex;
				justify-content: center;
				margin-top: 2rem;
				font-size: 1.3rem;
			}
		}
	}

	.heading {
		padding-bottom: 1rem !important;
		text-align: center;
		font-size: 2.5rem;
	}

	.heading-secondary {
		padding-bottom: 3.5rem !important;
		text-align: center;
	}

	.subscription {
		display: flex;
		justify-content: center;
		margin: 1rem 0 4rem;

		@media screen and (max-width: 450px) {
			flex-direction: column;
		}

		.card {
			padding: 1.6rem 3.1rem 3.5rem;
			border: 2px solid #d7d7d7;
			border-radius: 6px;
			margin-right: 1.6rem;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			@media screen and (max-width: 450px) {
				margin-right: 0;
				margin-bottom: 1.6rem;
				height: 8rem;
			}

			.type {
				text-transform: uppercase;
				font-weight: 500;
			}

			.discount {
				margin-bottom: 1.6rem;
    			font-size: 1rem;
			}

			.currency {
				margin-top: -0.6rem;
				font-size: 1.6rem;
				font-weight: 500;
			}

			.amount {
				font-size: 4rem;
				font-weight: 500;
			}

			.duration {
				margin-top: 4.8px;
				font-size: 1.6rem;
				font-weight: 500;
			}
		}

		.selected {
			background-color: #fedb39;
			border: none;
		}
	}

	.expiry-field {
		width: 45%;
	}

	.cvv-field {
		width: 10%;
	}

	.checkboxes {
		display: flex;
		flex-direction: column;
		font-size: 1rem;

		::ng-deep .mat-checkbox-inner-container {
			width: 12px;
			height: 12px;
		}
	}
}