<div class="main-container">
	<section class="section top-section">
		<h1 class="heading-primary">
			Get <span class="highlight">freelance Jobs</span>
			<span class="heading-sub">on autopilot</span>
		</h1>
	
		<h2 class="heading-secondary">Expert job match you with top 1% of freelance jobs 
			<span class="heading-sub">from dozens of premium sources</span>
		</h2>
	
		<app-subscribe-to-mail style="width: 100%;"></app-subscribe-to-mail>
	</section>

	<section class="section lead-section">
		<div class="col1">
			<h2 class="section-title">Generete more leads in less time</h2>
			<p class="para">You didn't become a freelancer to spend your time hunched in front of your computer scrolling through endless job listings. Let us find the right clients for you. You do more work you love.</p>
		</div>

		<div class="col2">
			<img class="notif-image" src="assets/images/notif.png" alt="notif">
		</div>
	</section>

	<section class="section finding-clients">
		<h2 class="section-title">Find freelance clients... the better way.</h2>

		<div class="cards">
			<div class="card">
				<div class="title">The Old Way</div>
				<mat-list class="list">
					<mat-list-item class="list-item" *ngFor="let way of oldWay">
						<mat-icon class="close" mat-list-icon>close</mat-icon>
						<div mat-line>{{ way }}</div>
					</mat-list-item>
				</mat-list>
			</div>
			<div class="card">
				<div class="title">The <span class="primary">missigs</span> Way</div>

				<mat-list class="list">
					<mat-list-item class="list-item" *ngFor="let way of newWay">
						<mat-icon class="tick" mat-list-icon>done</mat-icon>
						<div mat-line>{{ way }}</div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</section>

	<app-how-it-works id="howItWorks" class="section how-it-works"></app-how-it-works>

	<app-reviews class="section reviews-section"></app-reviews>

	<app-pricing id="pricing" class="section"></app-pricing>
</div>