.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 8rem 0;

	.section {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;
	}
	
	.heading-primary {
		font-size: 5rem;

		.highlight {
			background-color: #DD1864;
			color: #fff;
			padding: 0 2px;
			border-radius: 6px;
		}

		.heading-sub {
			display: block;
			margin-top: 3.5rem;
			text-align: center;
		}
	}

	.heading-secondary {
		margin-top: 6rem !important;
		font-size: 2.6rem;
		font-weight: 400 !important;

		.heading-sub {
			display: block;
			margin-top: .5rem;
			text-align: center;
		}
	}

	.input-container {
		margin-top: 4rem;
		position: relative;
		width: 60%;

		.suffix {
			position: absolute;
			top: 1px;
			right: 0;
			background-color: var(--color-primary);
			color: #fff;
			border-radius: 20px;
			padding: 8px;
			cursor: pointer;
		}
	}

	.upgrade {
		margin-top: 3rem;
		font-size: 1.3rem;	
	}

	.lead-section {
		margin-top: 15rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 50%;

		.heading {
			font-size: 2.6rem;
			font-weight: 500 !important;
		}
	}

	.finding-clients {
		flex-direction: column;
		margin-top: 8rem;
		width: 60%;

		.section-title {
			margin-bottom: 3.5rem !important;
			font-size: 2.2rem;
		}

		.cards {
			display: flex;

			.card {
				display: flex;
				flex-direction: column;
				align-items: center;

				padding: 2rem 1rem;
				box-shadow: 0px 0px 6px #ede7e7;
				border-radius: 1rem;
	
				.title {
					text-transform: uppercase;
					margin-bottom: 1rem;
					font-size: 1.8rem;
					font-weight: 500;
				}

				.list-item {
					height: 3.4rem;

					mat-icon {
						font-weight: 600;
						margin-right: -1rem;
					}

					.close {
						color: #ff3266;	
					}

					.tick {
						color: #fec400;
					}
				}

				&:not(:last-child) {
					margin-right: 3rem;
				}
			}
		}	
	}

	.how-it-workds {
		margin-top: 6rem;
		width: 50%;

		flex-direction: column;

		.section-1 {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.section-2 {
			margin-top: 6rem;

			.item {
				display: flex;
				align-items: center;
				margin-bottom: 2rem;

				.index {
					margin-right: 2rem;
					font-size: 2.4rem;
					color: #DD1864;
					font-weight: 600;
					font-style: italic;
				}
				
				.text {
					font-size: 1.8rem;
					font-weight: 500;
					padding: 1.5rem 3rem;
					width: fit-content;

					border: 1px solid gray;
					border-radius: 15px;
				}
			}

			.email-subscription {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 3rem;
			}
		}
	}

	.reviews-section {
		flex-direction: column;
		margin-top: 8rem;
		width: 60%;

		.section-title {
			margin-bottom: 4rem !important;
			font-size: 2.2rem;
		}

		.reviews {
			display: flex;
	
			.review {
				display: flex;
				flex-direction: column;
				align-items: center;

				background-color: var(--color-primary);
				color: #fff;
				padding: 1rem;
				font-size: 1rem;
				border-radius: 0.8rem;
	
				&:not(:last-child) {
					margin-right: 6rem;
				}

				.name {
					text-transform: uppercase;
				}

				.star {
					color: #D9D220;
				}

				mat-icon {
					font-size: 1.4rem;
					line-height: 1.4rem;
					width: 1.4rem;
					height: 1.4rem;
				}

				.text {
					line-height: 1.5;
				}
			}
		}
	}

	.col1 {
		display: flex;
		flex-direction: column;
		width: 55%;

		.section-title {
			margin-bottom: 2rem !important;
			width: 50%;
			font-size: 2.2rem;
		}

		.para {
			color: #707070;
			font-size: 1.8rem;
			line-height: 1.4;
		}
	}

	.notif-image {
		width: 20rem;
		height: 20rem;
		object-fit: cover;
	}
}