.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 8rem 0;

	.section {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40%;

		@media screen and (max-width: 1150px) {
			width: 55%;
		}

		@media screen and (max-width: 800px) {
			width: 80%;
		}
	}

	.top-section {
		flex-direction: column;
		
		@media screen and (max-width: 700px) {
			width: 95%;
		}
	}

	.heading-primary {
		font-size: 5rem;

		@media screen and (max-width: 550px) {
			font-size: 4rem;
		}

		.highlight {
			background-color: #DD1864;
			color: #fff;
			padding: 0 2px;
			border-radius: 6px;
		}

		.heading-sub {
			display: block;
			margin-top: 3.5rem;
			text-align: center;
		}
	}

	.heading-secondary {
		margin-top: 6rem !important;
		font-size: 2.6rem;
		font-weight: 400 !important;

		@media screen and (max-width: 550px) {
			font-size: 2.1rem;
			text-align: center;
		}

		.heading-sub {
			display: block;
			margin-top: .5rem;
			text-align: center;
		}
	}

	.lead-section {
		margin-top: 15rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 50%;

		@media screen and (max-width: 1200px) {
			width: 65%;
		}

		@media screen and (max-width: 950px) {
			flex-direction: column;
		}

		.heading {
			width: 70%;
		}
	}

	.finding-clients {
		flex-direction: column;
		margin-top: 8rem;
		width: 60%;

		@media screen and (max-width: 550px) {
			width: 90%;
		}

		.section-title {
			margin-bottom: 3.5rem !important;
			font-size: 2.2rem;
		}

		.cards {
			display: flex;

			@media screen and (max-width: 1000px) {
				flex-direction: column;
			}

			@media screen and (max-width: 550px) {
				width: 100%;
			}

			.card {
				display: flex;
				flex-direction: column;
				align-items: center;

				padding: 2rem 1rem;
				box-shadow: 0px 0px 6px #ede7e7;
				border-radius: 1rem;
	
				.title {
					text-transform: uppercase;
					margin-bottom: 1rem;
					font-size: 1.8rem;
					font-weight: 500;
				}

				.list {
					@media screen and (max-width: 550px) {
						width: 100%;
					}
				}

				.list-item {
					height: 3.4rem;

					mat-icon {
						font-weight: 600;
						margin-right: -1rem;
					}

					.close {
						color: #ff3266;	
					}

					.tick {
						color: #fec400;
					}
				}

				&:not(:last-child) {
					margin-right: 3rem;

					@media screen and (max-width: 1000px) {
						margin-right: 0;
						margin-bottom: 3rem;
					}
				}
			}
		}	
	}

	.how-it-works {
		margin-top: 6rem;
		width: 50%;
		flex-direction: column;
	
		@media screen and (max-width: 1000px) {
			width: 70%;
		}
	
		@media screen and (max-width: 700px) {
			width: 85%;
		}
	}

	.reviews-section {
		flex-direction: column;
		margin-top: 8rem;
		width: 60%;

		@media screen and (max-width: 1000px) {
			width: 80%;
		}

		@media screen and (max-width: 700px) {
			width: 90%;
		}

		@media screen and (max-width: 600px) {
			width: 80%;
		}
	}
}