.pricing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 8rem;

	.section-title {
		margin-bottom: 1.4rem !important;
		font-size: 2.2rem;
		text-align: center;
	}

	.title-secondary {
		margin-bottom: 1.4rem !important;
		text-align: center;
	}

	.subs-container {
		display: flex;

		@media screen and (max-width: 500px) {
			flex-direction: column;
		}

		.subscription {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
	
			padding: 0 6rem;
			margin-top: 4rem;
	
			&:not(:last-child) {
				border-right: 3px solid #343434;

				@media screen and (max-width: 500px) {
					border: none;
				}
			}
	
			.type {
				text-transform: uppercase;
				font-size: 1.8rem;
	
				display: flex;
				align-items: center;
				flex-direction: column;
			}
	
			.discount {
				font-size: 1.2rem;
			}
	
			.amount-container {
				display: flex;
				margin: 4rem 0;
	
				.currency {
					margin-top: -1.2rem;
					font-size: 2rem;
					font-weight: 500;
					margin-right: .4rem;
				}
	
				.amount {
					font-size: 6rem;
					font-weight: 500;
				}
	
				.duration {
					margin-top: 4.8px;
					font-size: 2rem;
					font-weight: 500;
				}
			}
	
			.btn-try {
				background-color: var(--color-primary);
				color: #fff;
				width: 14rem;
				border-radius: 3rem;
				height: 4rem;
			}
		}
	}

	.give-try {
		margin-top: 6rem;
	}
}