<div class="container">
	<h2 class="heading" style="font-size: 2.5rem;">Missigs</h2>

	<div class="login">
		<h2 class="heading">Sign In</h2>

		<form class="form" [formGroup]="theForm">
			<div class="section">
				<input class="form-field mb-4" type="email" placeholder="Email" formControlName="email">
		
				<div class="d-flex flex-column">
					<input class="form-field mb-3" type="password" placeholder="Password" formControlName="password">

					<div>
						<a class="forgot-password" routerLink="/forgot-password">Forgot password</a>
					</div>
				</div>

				<div class="btn-save-container">
					<button mat-raised-button>Login</button>
				</div>

				<div class="no-account">
					I have't account? &nbsp;
					<a routerLink="/signup">Sign up here</a>
				</div>
			</div>
		</form>
	</div>
</div>
