.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.section-title {
		margin-bottom: 4rem !important;
		font-size: 2.2rem;
		text-align: center;
	}

	.reviews {
		display: flex;

		@media screen and (max-width: 600px) {
			flex-direction: column;
			align-items: center;
		}

		.review {
			display: flex;
			flex-direction: column;
			align-items: center;

			background-color: var(--color-primary);
			color: #fff;
			padding: 1rem;
			font-size: 1rem;
			border-radius: 0.8rem;

			@media screen and (max-width: 400px) {
				width: 85%;
				justify-content: center;
			}

			&:not(:last-child) {
				margin-right: 6rem;

				@media screen and (max-width: 800px) {
					margin-right: 2rem;
				}

				@media screen and (max-width: 600px) {
					margin-right: 0;
					margin-bottom: 6rem;
				}
			}

			.name {
				text-transform: uppercase;
			}

			.star {
				color: #D9D220;
			}

			mat-icon {
				font-size: 1.4rem;
				line-height: 1.4rem;
				width: 1.4rem;
				height: 1.4rem;
			}

			.text {
				line-height: 1.5;

				@media screen and (max-width: 400px) {
					text-align: center;
				}
			}
		}
	}
}