.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7.4rem 0;
    height: calc(100% - 223px);

	.reset-password {
		padding: 3.5rem 8rem;
		box-shadow: 0px 0px 6px #ede7e7;
		width: 25%;

		@media screen and (max-width: 960px) {
			width: 40%;
		}

		@media screen and (max-width: 750px) {
			width: 50%;
		}

		@media screen and (max-width: 600px) {
			width: 60%;
			padding: 2.5rem 5rem;
		}

		border-radius: 1rem;

		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.section {
				display: flex;
				flex-direction: column;
				width: 100%;
			}

			.form-field {
				padding: 1rem 2rem;
				border-radius: 16px;
				color: var(--color-black) !important;
				border: 1px solid #707070;
			}

			.btn-save-container {
				display: flex;
				align-items: center;
				justify-content: center;

				button {
					background-color: var(--color-primary);
					color: #fff;
					margin: 2rem 0 4.8rem;
					border-radius: 100px;
					min-width: 20rem;
				}
			}
		}
	}

	.heading {
		padding-bottom: 1rem !important;
		text-align: center;
		font-size: 2.5rem;
	}

	.heading-secondary {
		padding-bottom: 3.5rem !important;
		text-align: center;
	}
}