<div class="container">
	<h2 class="heading">Missigs</h2>

	<div class="profile">
		<h2 class="heading">Complete profile</h2>

		<form class="form" [formGroup]="theForm">
			<div class="section">
				<div class="d-flex flex-column">
					<mat-label class="label">Post Title</mat-label>
					<mat-form-field appearance="outline">
						<input type="text" matInput placeholder="Post Title" formControlName="title">
					</mat-form-field>
				</div>
		
				<div class="d-flex flex-column">
					<mat-label class="label">Skills</mat-label>
					<mat-form-field appearance="outline">
						<input type="text" matInput placeholder="Skills" formControlName="skills">
					</mat-form-field>

					<div class="badges-container">
						<div class="d-flex badge badge-red">
							wordpress <mat-icon>close</mat-icon>
						</div>
						<div class="d-flex badge badge-red">
							shopify <mat-icon>close</mat-icon>
						</div>
					</div>
				</div>
		
				<div class="d-flex flex-column">
					<mat-label class="label">Cities</mat-label>
					<mat-form-field appearance="outline">
						<input type="text" matInput placeholder="Cities" formControlName="cities">
					</mat-form-field>

					<div class="badges-container">
						<div class="d-flex badge badge-red">
							Lille <mat-icon>close</mat-icon>
						</div>
						<div class="d-flex badge badge-red">
							Marseille <mat-icon>close</mat-icon>
						</div>
					</div>
				</div>
		
				<div class="d-flex flex-column">
					<mat-label class="label">Rayon</mat-label>

					<div class="slider-end-values">
						<span>0km</span><span>200km</span>
					</div>

					<mat-slider
						thumbLabel
						tickInterval="1"
						step="1"
						min="0"
						max="200"
						aria-label="km">
					</mat-slider>
				</div>
		
				<mat-checkbox formControlName="lookingForRemote">Looking for remote work too</mat-checkbox>
		
				<div class="btn-save-container">
					<button mat-raised-button>Complete</button>
				</div>
			</div>
		</form>
	</div>
</div>
