/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62.5%;
}

html, body { 
	height: 100%;
}

body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	font-size: 1.6rem;
}

.w-100-p{
	width: 100%;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.badge {
	align-items: center;
	justify-content: center;

	padding: 0.2rem 0.8rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1rem;
	margin-right: 0.8rem;
}

.label {
	font-weight: 500;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: black !important;
}

h1, h2 {
	margin: 0 !important;
}