/* You can add global styles to this file, and also import other style files */

html {
    font-size: 62.5%;
}

html, body { 
	height: 100%;
}

body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	font-size: 1.6rem;
	color: var(--color-black);
}

:root {
	--color-primary: #3bacb6;
	--color-secondary: #d61c4e;
	--color-black: #363636;
}

.primary {
	color: var(--color-primary);
}

.w-100-p{
	width: 100%;
}

.mt-3 {
	margin-top: 1rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.mb-4 {
	margin-bottom: 2rem !important;
}

.mt-4 {
	margin-top: 2rem !important;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.badge {
	align-items: center;
	justify-content: center;

	padding: 0.2rem 0.8rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1rem;
	margin-right: 0.8rem;
}

.label {
	font-weight: 500;
}

.form-field {
	padding: 1rem 2rem;
	border-radius: 1.6rem;
	color: var(--color-black) !important;
	border: 1px solid #707070;
}

.col1 {
	display: flex;
	flex-direction: column;
	width: 55%;

	@media screen and (max-width: 950px) {
		width: 100%;
		margin-bottom: 2rem;
	}

	.section-title {
		margin-bottom: 2rem !important;
		width: 50%;
		font-size: 2.2rem;
		text-align: center;

		@media screen and (max-width: 950px) {
			width: 100%;
		}
	}

	.para {
		color: #707070;
		font-size: 1.8rem;
		line-height: 1.4;
	}
}

.col2 {
	@media screen and (max-width: 950px) {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.youtube-video {
		width: 25rem;
		height: 20rem;

		@media screen and (max-width: 400px) {
			width: 30rem;
		}
	}
}

.notif-image {
	width: 20rem;
	height: 20rem;
	object-fit: cover;

	@media screen and (max-width: 400px) {
		width: 85%;
		height: 20rem;
		object-fit: cover;
	}
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: black !important;
}

h1, h2 {
	margin: 0 !important;
}

a {
	text-decoration: none;
	color: var(--color-black);
}